@font-face {
    font-family: veterantypewriter;
    src: url(font/veterantypewriter.ttf);
}

body {
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    /*font-family: 'veterantypewriter';*/
    color: silver;
}

.lunar {
  background-image: url(../images/lunar/NASA-Apollo8-Dec24-Earthrise.jpg);
  background-size: auto;
}

.mars {
  background-image: url(../images/mars/26729_PIA25213-web.jpg);
  background-size: auto;
}

.europa {
  background-image: url(../images/europa/PIA26444_modest.jpg);
  background-size: auto;
}

.titan {
  background-image: url(../images/titan/PIA23172_modest.jpg);
  background-size: auto;
}

.venus {
  background-image: url(../images/venus/v4n2dg9476r91.jpg);
  background-size: auto;
}

.ganymede {
  background-image: url(../images/ganymede/PIA01515_modest.jpg);
  background-size: auto;
}

.kuiper {
  background-image: url(../images/kuiper/GSFC_20171208_Archive_e000946~orig.jpg);
  background-size: auto;
}

   
nav ul {
    list-style: none;
    background-color: transparent;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
  }
   
  nav a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  nav a:hover {
    background-color: #fff;
    color: red;
    font-size: 1.3em;
  }
  



