@font-face {
    font-family: veterantypewriter;
    src: url(font/veterantypewriter.ttf);
}

body {
    font-family: 'Courier New', Courier, monospace;
    /*font-family: 'veterantypewriter';*/
    padding: 0%;
    margin: 0%;
    background-color: #fff;
}


/*HEADER & NAVIGATION*/
header {
  height: 100vmax;  
  margin-top: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
}

header h1 {
  margin-top: 25%;
  margin-left: 25%;
  font-size: 200%;
}

header p {
  margin-top: 25%;
  text-align: center;
  font-size: 250%;
}

nav ul {
  list-style: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  }
  
  nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 2.5%;
  }
   
  nav a {
  text-decoration: none;
/*color: #fff;   STANDARD NAV COLOR DISABLED*/
  display: block;
  }

  nav a:hover {
  background-color: #d3d3d3;
  color: #C70039;
  font-size: 1.2em;
  font-weight: 600;
  }


  
/*CONTENT & ARTICLE*/
article {
  padding:10%;
}

article span {
  float: left;
  width: 100%;
}

article span:last-of-type {
  margin-right: 0;
}

table { /*change to "article inherit" if table is used elsewhere */ 
  border: 1px solid #ccc;
  padding: 10px; 
  width: 100%;
}

th { /*change to "article inherit" if table is used elsewhere */ 
  background: #eee;
  padding: 10px;
  width: 25%;
  text-align: left;
  margin-left: 2.5%;
}

td { /*change to "article inherit" if table is used elsewhere */ 
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 75%;
}

article p {
  margin: 0 0 15px 0;
}



/*FOOTER*/
footer {
  background-color: #d3d3d3;
  bottom: 0;
  right: 0;
  padding: 50px 10%;
}




/*HOME*/






/*LUNAR*/
.lunar-header {
  background-image: url(../images/lunar/NASA-Apollo8-Dec24-Earthrise.jpg);
  background-color: #000;
  color: #fff;
}

.lunar-header a {
  color: inherit;
}



/*MARS*/
.mars-header {
  background-image: url(../images/mars/26729_PIA25213-web.jpg);
  background-color: sandybrown;
  color: #000;
}

.mars-header a {
  color: inherit;
}



/*EUROPA*/
.europa-header {
/*CHANGE PICTURE*/  background-image: url(../images/europa/PIA26444_modest.jpg); 
  background-color: #000;
  color: #fff;
}

.europa-header a {
   color: inherit;
}



/*TITAN*/
.titan-header {
  background-image: url(../images/titan/PIA23172_modest.jpg);
  background-color: sandybrown;
  color: #000;
}

.titan-header a {
  color: inherit;
}



/*VENUS*/
.venus-header {
  background-image: url(../images/venus/v4n2dg9476r91.jpg);
  background-color: yellowgreen;
  color: #000;
  background-position: center; /*SPECIAL CENTER*/
}

.venus-header a {
  color: inherit;
}



/*GANYMEDE*/
.ganymede-header {
/*CHANGE PICTURE*/  background-image: url(../images/ganymede/PIA01515_modest.jpg);
  background-color: #000;
  color: #fff;
}

.ganymede-header a {
  color: inherit;
}



/*KUIPER BELT*/
.kuiper-header {
/*CHANGE PICTURE*/  background-image: url(../images/kuiper/28090044146_63e965d1e2_o.jpg);
  background-color: #000;
  color: #fff;
}

.kuiper-header a {
  color: inherit;
}


/*IMPRINT & CONTACT*/






/*DIFFERENT VIEPORTS*/
@media screen and (min-width: 768px) { /* tablet device */
  article span {
      width: 48.75%;
      margin-right: 2.5%;
  }
}
  
  @media screen and (min-width: 1440px) { /* tablet device */
      /* STYLES HERE */
  }