@font-face {
    font-family: veterantypewriter;
    src: url(font/veterantypewriter.ttf);
}

body {
    background-color: grey;
    background-image: url(../images/NASA-Apollo8-Dec24-Earthrise.jpg);
    background-size: auto;
    font-family: 'Courier New', Courier, monospace;
    color: silver;
}

   
nav ul {
    list-style: none;
    background-color: transparent;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
  }
   
  nav a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  nav a:hover {
    background-color: #fff;
    color: red;
    font-size: 1.3em;
  }
  



